<h1>Stupid Coaching</h1>

<div id="ask">
<p>Ask your coach everything:</p>
<form action="/answer">
  <input id='question' type="text" name="question">
  <input id="answer" type="submit" value="Ask!">
</form>
</div>
